/* ****************************************** */
/* /* default css * */
/* ****************************************** */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Work Sans', sans-serif;
}

html,
body {
    overflow-x: hidden;
}

a,
a:hover,
button,
button:hover {
    text-decoration: none;
    transition: linear .2s;
    font-family: 'Work Sans', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
}

.btn-theme {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    color: #ffffff;
    padding: 20px 30px;
    font-weight: 600;
    overflow: hidden;
    border-radius: 2px;
    background-color: #B01016;
    text-transform: uppercase;
}

.btn-theme:hover {
    background-color: #910005;
}

.sec-title {
    margin-bottom: 50px;
}

.sec-title h2 {
    color: #666666;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sec-title h3 {
    font-size: 48px;
    font-weight: 300;
    line-height: 1.3;
    margin-top: 15px;
}

.sec-title h3 span {
    color: #910005;
    font-weight: 600;
}

.nav-item {}


.nav-link {
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 15px;
}

.nav-item a.active,
.nav-link:hover {
    color: #910005;
}

/* ************************************************* */
/* home page css */
/* ************************************************* */
.top-nav {
    background-color: #B11016;
    overflow: hidden;
}

.top-nav .container {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.nav-left {
    float: left;
    padding: 15px 0;
}

.nav-left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-left ul li {
    display: inline-flex;
    margin-right: 35px;
    color: #fff;
    font-size: 15px;
    line-height: 1;
}

.nav-left ul li a {
    color: #fff;
}

.nav-left ul li i {
    margin-right: 10px;
}

.nav-right {
    float: right;
    padding: 15px 0;
    width: 200px;
}

.nav-right ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

.nav-right ul li {
    display: inline-flex;
    margin-left: 20px;
}

.nav-right ul li a {
    color: #fff;
}

.nav-right ul li a i {}

header {
    padding: 15px 0;
    background-color: #fff;
    box-shadow: 0 0 15px #0000001f;
}


.navbar-brand {}

.navbar-brand img {
    width: 120px;
}

.home-banner-sec {
    position: relative;
    padding: 150px 0;
}

.banner-content {}

.banner-content h5 {
    color: #666666;
    font-weight: 400;
    line-height: 1;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.banner-content h1 {
    font-size: 60px;
    font-weight: 300;
    margin: 0;
    color: #333;
}

.banner-content h1 span {
    color: #B11016;
    font-weight: 600;
}

.banner-content p {
    margin-top: 50px;
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #666666;
    letter-spacing: 1px;
}

.banner-content a {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    color: #ffffff;
    padding: 20px 30px;
    font-weight: 600;
    overflow: hidden;
    border-radius: 2px;
    background-color: #B01016;
    text-transform: uppercase;
}

.appointment-sec {
    position: relative;
    padding: 75px 0px 60px;
    background-image: url(../image/appoitment-bg-pattren.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #B11016;
}

.appointment-content {}

.appointment-content h2 {
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 15px;
    color: #fff;
}

.appointment-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 16px;
    color: #fff;
}

.appointment-sec a {
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff;
}

.about-sec {
    position: relative;
    padding-top: 100px;
}

.about-sec .container {
    padding-bottom: 100px;
    border-bottom: 1px solid #c0c8cd;
}

.about-sec .sec-title {
    margin-bottom: 25px;
}

.about-content {
    margin-bottom: 85px;
}

.about-content p {
    color: #666666;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 20px;
}

.about-img {
    padding-right: 50px;
}

.about-img img {
    width: 100%;
}

.service-sec {
    padding: 100px 0px 80px;
}

.service-sec .row {
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    margin: 0;
}

.service-sec .col-md-3 {
    padding: 0;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #ebebeb;
}

.service-card {
    padding: 45px 25px 45px 35px;
    border-top: 4px solid transparent;
    transition: all 500ms ease 0s;
    height: 100%;
}

.service-card:hover {
    border-top-color: #910005;
}

.service-card .icon {
    line-height: 1;
    font-size: 46px;
    color: #B11016;
    display: inline-block;
    transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
}

.service-card .icon span {}

.service-card h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
    transition: linear .2s;
}

.service-card:hover h3 {
    color: #B11016;
    transition: linear .2s;
}

.service-card p {
    color: #666;
    font-size: 16px;
    line-height: 1.8;
    margin: 0;
}

.project-sec {
    overflow: hidden;
    padding: 20px 0px 0px;
}

.project-gallery {}

.project-item {
    position: relative;
    overflow: hidden;
}

.project-item .overlay {
    position: absolute;
    left: 0px;
    right: 0px;
    background-color: #910005;
    padding: 22px 30px;
    transition: all 500ms ease 0s;
    bottom: -120px;
}

.project-item:hover .overlay {
    bottom: 0;
    transition: all 500ms ease 0s;
}

.project-item .overlay .overlay-inner {}

.project-item .overlay .overlay-inner h3 {
    margin: 0;
}

.project-item .overlay .overlay-inner h3 a {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    color: #ffffff;
}

.project-item .overlay .overlay-inner h4 {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    margin-top: 4px;
}

.project-item .overlay .overlay-inner a {}

.project-item img {
    width: 100%;
}

.testimonial-sec {
    padding: 90px 0;
}

.testimonial-sec .sec-title {
    margin-bottom: 70px;
    position: relative;
}

.testimonial-slider {}

.testimonial-item {
    padding: 45px 45px;
    border: 1px solid #e1e1e1;
}

.testimonial-item p {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    margin-top: 4px;
}

.testimonial-item p span {
    font-weight: 400;
    color: #999999;
    font-size: 14px;
}

.testimonial-item article {
    color: #666666;
    font-size: 14px;
    line-height: 1.8;
    margin-top: 20px;
}

#testimonialNav button {
    color: #999999;
    margin-left: 0px;
    font-weight: 300;
    display: inline-block;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
}

#testimonialNav button:hover {
    color: #333
}

#testimonialNav .owl-prev {
    right: 40px;
}

#testimonialNav .owl-next {
    right: 0;
}

#testimonialNav button span {
    font-size: 48px;
    line-height: 0.7;
    font-weight: 200;
}

.partner-sec {}

.contact-sec {
    padding-top: 100px;
    background-color: #f8f6f7;
}

.contact-form {
    border-radius: 3px;
    padding: 55px 45px 0px;
    border: 1px solid #c0c8cd;
    background-color: #ffffff;
    margin-bottom: 80px;
}

.contact-form h3 {
    color: #910005;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.contact-form form {}

.contact-form form p {
    margin-bottom: 20px;
}

.contact-form form p label {
    margin-bottom: 0px;
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.contact-form form p input,
.contact-form form p select {
    display: block;
    width: 100%;
    height: 46px;
    line-height: 28px;
    padding: 0px 0px 0px;
    font-size: 18px;
    background: #ffffff;
    border-radius: 0px;
    transition: all 500ms ease;
    border: none;
    border-bottom: 1px solid #cccccc;
}


.contact-form form p textarea {
    border: none;
    display: block;
    width: 100%;
    line-height: 28px;
    font-size: 18px;
    background: #ffffff;
    resize: none;
    margin-top: 8px;
    transition: all 500ms ease;
}


.contact-form form button {
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    padding: 20px 36px;
    background-color: #B11016;
    font-weight: 600;
    border: none;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.contact-form form button:hover {
    background-color: #910005;
}

.choosen {
    margin-bottom: 60px;
}

.choosen h3 {
    font-size: 20px;
    color: #333;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
}

.choosen p {
    color: #999999;
    font-size: 16px;
    line-height: 1.9;
    margin-top: 15px;
    margin-bottom: 28px;
}

.team-sec {
    padding: 100px 0px 70px;
}

.teammate {
    position: relative;
    padding-bottom: 30px;
    /* overflow: hidden; */
}

.teammate-pic {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: none;
    transition: linear .2s;
}

.teammate-pic:hover {
    box-shadow: 0 0 15px #00000036;
    transition: linear .2s;
}

.teammate img {
    width: 100%;
    display: block;
    border-radius: 3px;
}

.teammate a {
    padding-top: 30px;
    color: #333;
    font-size: 24px;

}

.teammate h5 {
    font-size: 14px;
    line-height: 1.4;
    margin-top: 5px;
    color: #666;
}

.teammate-social {
    position: absolute;
    right: -200px;
    bottom: 10px;
    padding: 10px 12px;
    border-radius: 3px;
    display: inline-block;
    background-color: #ffffff;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.teammate-pic:hover .teammate-social {
    right: 20px;
}

.teammate-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.teammate-social ul li {
    margin: 0px 8px;
    display: inline-block;
}

.teammate-social ul li a {
    color: #666666;
    font-size: 16px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.teammate-social ul li a:hover {
    color: #B01016;
}

.footer-sec {
    padding-top: 100px;
}

.footer-element {
    padding: 20px 0;

}

.footer-logo {}

.footer-logo a {}

.footer-logo a img {
    width: 120px;

}

.footer-contact h5 {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 15px;
}

.footer-contact a {
    color: #333;
    font-size: 16px;
    letter-spacing: 1.3px;
    margin-bottom: 3px;
    display: block;
}

.footer-element h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    line-height: 1.2;
    margin: 25px 0;
    text-transform: capitalize;
}

.footer-element ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-element ul li {
    margin-bottom: 8px;
}

.footer-element ul li a {
    position: relative;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}

.footer-element ul li a:hover {
    color: #B01016;
}

.footer-element p {
    color: #666;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 15px;
}

.footer-element form {
    position: relative;
    display: block;
    margin: 0px;
    width: 100%;
    max-width: 550px;
    margin-top: 35px;
}

.footer-element input {
    display: block;
    width: 100%;
    line-height: 28px;
    height: 44px;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    padding: 10px 40px 10px 20px;
    background: #f7f7f7;
    border-radius: 3px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    border: 1px solid #cccc;
}

.footer-element button {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 44px;
    line-height: 44px;
    color: #333;
    font-size: 20px;
    text-align: center;
    background: none;
    width: 40px;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 0 3px 3px 0;
}

.footer-element button:hover {
    color: #fff;
    background-color: #B01016;
}

.copyright .container {
    padding: 35px 0;
    border-top: 1px solid #e1e1e1
}

.copyright p {
    color: #666;
    font-size: 16px;
    margin: 0;
}

.copyright p a {
    color: #333;
}

.copyright ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.copyright ul li {
    margin-left: 10px;
    display: inline-block;
}

.copyright ul li a {
    color: #666;
    font-size: 16px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}

.copyright ul li a:hover {
    color: #B01016;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler i {
    color: #B01016;
}